
Advent1/Advent1/bin/Debug/netcoreapp3.1/Advent1.runtimeconfig.json
Advent1/Advent1/bin/Debug/netcoreapp3.1/Advent1.runtimeconfig.dev.json
Advent1/Advent1/obj/Advent1.csproj.nuget.dgspec.json
Advent1/Advent1/obj/Advent1.csproj.nuget.g.props
